.recuadro{
  border-radius: 20px;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
  border: 1px solid white;
  background-color: #202020;
}

.header-recuadro{
  padding: 1rem;
  border-bottom: 1px solid white;
  max-height: 60px;
}

.body-recuadro{
  max-height: 540px;
  overflow-y: auto;
}

.body-recuadro::-webkit-scrollbar {
  width: 0px;
}

li{
  background-color: transparent!important;
  display: flex;
  color: white!important;
  align-items: center;
}

ul{
  background-color: transparent!important;
}